*{
  background-color: #343a40;
  color: white;
}
.contain-components{
  padding: 5%;
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #d98326;
  border-radius: 15px;
}
.todo-box{
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 12px;
  border: 1px solid #fff;
  /* background-color: #d98326; */
  width: 71%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form{
  background-color: #d98326;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form input{
  width: 60%;
  height: 50px;
}